---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/Navbar.astro";
import GameCard from "../../components/GameCard.astro";
import { games } from "../../data/games";
---

<BaseLayout title="games">
  <Navbar />

  <main class="pt-28 md:pt-3">
    <section class="mx-auto mt-14 max-w-6xl px-10 pb-24 md:mt-18 md:pb-32">
      <div class="space-y-4">
        {games.map((game) => (
          <GameCard {...game} />
        ))}
      </div>
    </section>
  </main>
</BaseLayout>